<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>defaults</key>
			<string>com.creatix.morerecent</string>
			<key>default</key>
			<string>6</string>
			<key>key</key>
			<string>maxRecent</string>
			<key>isNumeric</key>
			<true/>
			<key>label</key>
			<string>Max Recent Items</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>MoreRecent</string>
</dict>
</plist>
