Package: com.iosblocks.ibkkit
Name: IBKKit
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome framework of some sort!!
Maintainer: iOS Blocks
Author: iOS Blocks
Section: System
Tag: role::developer
