<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
    <dict>
    <key>cell</key>
        <string>PSLinkListCell</string>
        <key>default</key>
        <integer>99</integer>
        <key>defaults</key>
        <string>com.atwiiks.apollo</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>key</key>
        <string>ArtworkBlurStyle</string>
        <key>label</key>
        <string>Blur Style</string>
        <key>validTitles</key>
        <array>
            <string>None</string>
            <string>Normal</string>
            <string>Light</string>
            <string>Dark</string>
        </array>
        <key>validValues</key>
        <array>
            <integer>99</integer>
            <integer>1</integer>
            <integer>2</integer>
            <integer>3</integer>
        </array>
        <key>PostNotification</key>
        <string>com.atwiiks.apollo/settingschanged</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Corner Radius</string>
        </dict>
                <dict>
            <key>showValue</key>
            <true/>
            <key>max</key>
            <integer>100</integer>
            <key>min</key>
            <integer>0</integer>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <real>0.0</real>
            <key>defaults</key>
            <string>com.atwiiks.apollo</string>
            <key>footerText</key>
            <string>Use this to set the corner radius of the unblurred album artwork, it is out of 100%, so 100% would be a circle and 0% would be a square</string>
            <key>key</key>
            <string>ArtworkCornerRadius</string>
            <key>PostNotification</key>
            <string>com.atwiiks.apollo/settingschanged</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Artwork Size</string>
        </dict>
        <dict>
            <key>showValue</key>
            <true/>
            <key>max</key>
            <integer>100</integer>
            <key>min</key>
            <integer>0</integer>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <real>0.0</real>
            <key>defaults</key>
            <string>com.atwiiks.apollo</string>
            <key>footerText</key>
            <string>Use this to set the size of the unblurred album artwork, it is out of 100%, so 100% would mean the artwork would totally cover the blurred view, and 50% would mean it's half the size of the blurred background</string>
            <key>key</key>
            <string>ArtworkSize</string>
            <key>PostNotification</key>
            <string>com.atwiiks.apollo/settingschanged</string>
        </dict>
	</array>
	<key>title</key>
	<string>Album Artwork Configuration</string>
</dict>
</plist>
