<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSG</string>
			<key>cellClass</key>
			<string>AWApolloDeveloperTableCell</string>
			<key>height</key>
			<integer>100</integer>
			<key>devImage</key>
			<string>atw</string>
			<key>devName</key>
			<string>ATWIIKS</string>
			<key>realName</key>
			<string>Andrew Franklin Wiik</string>
			<key>twitterUsername</key>
			<string>andywiik</string>
			<key>job</key>
			<string>iOS Developer</string>
		</dict>
	</array>
	<key>title</key>
	<string>MAKERS</string>
</dict>
</plist>
