<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>AWApolloCustomHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atwiiks.apollo</string>
			<key>PostNotification</key>
			<string>com.atwiiks.apollo/settingschanged</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>icon</key>
			<string>enableIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AWApolloConfigurationListController</string>
			<key>isController</key>
			<true/>
			<key>icon</key>
			<string>configurationIcon.png</string>
			<key>label</key>
			<string>CONFIGURATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AWApolloMakersListController</string>
			<key>isController</key>
			<true/>
			<key>icon</key>
			<string>makersIcon.png</string>
			<key>label</key>
			<string>MAKERS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SUPPORT</string>
			<key>action</key>
			<string>emailAW</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Apollo</string>
</dict>
</plist>
