Package: edu.self.movecelll
Name: MoveCelll
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Your Name
Author: Your Name
Section: Tweaks
