Package: com.atwiiks.fullresshare
Name: FullResShare
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ATWiiks
Author: ATWiiks
Section: Tweaks
Version: 0.0.1-5
Installed-Size: 85
