Package: com.andrewwiik.bdayspotify
Name: BDaySpotify
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andrew and Tony
Author: Andrew and Tony
Section: Tweaks
