Package: com.creatix.controlcenter10
Name: ControlCenter10
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Creatix
Author: Creatix
Section: Tweaks
