Package: com.atwiiks.siriblue
Name: SiriBlue
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Activate Siri With Bluetooth!
Maintainer: Andrew Wiik
Author: Andrew Wiik
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 84
