<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.creatix.quickcenter</string>
			<key>icon</key>
			<string>enabled.png</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>QCRConfigurationListController</string>
			<key>icon</key>
			<string>/System/Library/PrivateFrameworks/Preferences.framework/General.png</string>
			<key>isController</key>
			<true/>
			<key>id</key>
			<string>CONFIGURATION</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>QCRSecurityListController</string>
			<key>icon</key>
			<string>/System/Library/PrivateFrameworks/Preferences.framework/Passcode.png</string>
			<key>isController</key>
			<true/>
			<key>id</key>
			<string>SECURITY</string>
			<key>label</key>
			<string>Security</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>QCRRootListController</string>
			<key>icon</key>
			<string>guide.png</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>User Guide</string>
			<key>id</key>
			<string>GUIDE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>QCRBugsListController</string>
			<key>icon</key>
			<string>bug.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Report a Bug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>QCRCreatorsListController</string>
			<key>icon</key>
			<string>team.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>The Creators</string>
		</dict>
	</array>
	<key>title</key>
	<string>QuickCenter</string>
</dict>
</plist>
