Package: com.creatix.intelliunborn
Name: Intelliunborn
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Creatix
Author: Creatix
Section: Tweaks
Version: 0.0.1-9
Installed-Size: 342
