Package: com.creatix.nottrending
Name: NotTrending
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Creatix
Author: Creatix
Section: Tweaks
Version: 0.0.1-21
Installed-Size: 101
