Package: com.atwiiks.manualcorrectios8
Name: ManualCorrectiOS8
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andrew Wiik
Author: Andrew Wiik
Section: Tweaks
Version: 0.0.1-2
Installed-Size: 85
