<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.creatix.switchservice</string>
			<key>PostNotification</key>
			<string>com.creatix.switchservice.prefschanged</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AutoSwitch</string>
			<key>footerText</key>
			<string>AutoSwitch will automatically change the sending service based on the last message received.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.creatix.switchservice</string>
			<key>PostNotification</key>
			<string>com.creatix.switchservice.prefschanged</string>
			<key>key</key>
			<string>autoSwitch</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Touch hold time:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.creatix.switchservice</string>
			<key>PostNotification</key>
			<string>com.creatix.switchservice.prefschanged</string>
			<key>default</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>3.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>HoldTime</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.creatix.switchservice</string>
			<key>PostNotification</key>
			<string>com.creatix.switchservice.prefschanged</string>
			<key>key</key>
			<string>vibrationEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
	</array>
	<key>title</key>
	<string>SwitchService</string>
</dict>
</plist>
