Package: com.atwiiks.defaultplaylist
Name: DefaultPlaylist
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Music App will default to the playlists tab when you launch it
Maintainer: ATWiiks
Author: ATWiiks
Section: Tweaks
Version: 0.0.1-5
Installed-Size: 85
