Package: com.creatix.batteryicon
Name: BatteryIcon
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Add an icon to see your battery stats!
Maintainer: Creatix
Author: Creatix
Section: Tweaks
Version: 0.0.1-110
Installed-Size: 393
