Package: com.creatix.ytoldnav
Name: YTOldNav
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bring the old YouTube navigation back!
Maintainer: Creatix
Author: Creatix
Section: Tweaks
