*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.deb

*.com
*.class
*.dll
*.exe
*.o
*.so

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

ehthumbs.db
Thumbs.db

obj/
_/
.theos
debs/