<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>HeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<!-- <dict>
			<key>PostNotification</key>
			<string>com.zachatrocity.exsto/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.zachatrocity.exsto</string>
			<key>key</key>
			<string>EXSTO_ENABLED</string>
			<key>label</key>
			<string>Enabled</string>
		</dict> -->
		<dict>
			<key>PostNotification</key>
			<string>com.zachatrocity.exsto/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.zachatrocity.exsto</string>
			<key>key</key>
			<string>EXSTO_SHOW_NOTIF_GLOW</string>
			<key>label</key>
			<string>Show Notification Glow</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.zachatrocity.exsto/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachatrocity.exsto</string>
			<key>key</key>
			<string>EXSTO_LIMIT_ICONS</string>
			<key>label</key>
			<string>Limit Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Limit</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.zachatrocity.exsto/prefsChanged</string>
			<key>cellClass</key>
			<string>BetterPSSliderTableCell</string>
			<key>default</key>
			<real>20</real>
			<key>defaults</key>
			<string>com.zachatrocity.exsto</string>
			<key>id</key>
			<string>EXSTO_MAX_ICONS</string>
			<key>key</key>
			<string>EXSTO_MAX_ICONS</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Opening Delay (ms)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.zachatrocity.exsto/prefsChanged</string>
			<key>cellClass</key>
			<string>BetterPSSliderTableCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>com.zachatrocity.exsto</string>
			<key>id</key>
			<string>EXSTO_DELAY_SPEED</string>
			<key>key</key>
			<string>EXSTO_DELAY_SPEED</string>
			<key>max</key>
			<real>0.5</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Open Radius (distance from folder)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.zachatrocity.exsto/prefsChanged</string>
			<key>cellClass</key>
			<string>BetterPSSliderTableCell</string>
			<key>default</key>
			<real>80</real>
			<key>defaults</key>
			<string>com.zachatrocity.exsto</string>
			<key>id</key>
			<string>EXSTO_RADIUS</string>
			<key>key</key>
			<string>EXSTO_RADIUS</string>
			<key>max</key>
			<real>150</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>@zachatrocity</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donateButton:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>PayPal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>action</key>
			<string>opencircleGithub:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>CKCircleMenuView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>FooterCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Exsto © Zach Russell 2015</string>
		</dict>
	</array>
	<key>title</key>
	<string>Exsto</string>
</dict>
</plist>
