Package: com.andrewwiik.urltest
Name: urltest
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andy
Author: Andy
Section: Tweaks
