<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.creatix.banana</string>
			<key>icon</key>
			<string>enabled.png</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BNAConfigurationListController</string>
			<key>icon</key>
			<string>/System/Library/PrivateFrameworks/Preferences.framework/General.png</string>
			<key>isController</key>
			<true/>
			<key>id</key>
			<string>CONFIGURATION</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BNABugsListController</string>
			<key>icon</key>
			<string>bug.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Report a Bug</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BNACreatorsListController</string>
			<key>icon</key>
			<string>team.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>The Creators</string>
		</dict>
	</array>
	<key>title</key>
	<string>Banana</string>
</dict>
</plist>