Package: com.atwiiks.getoverhere
Name: GetOverHere
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andrew Wiik
Author: Andrew Wiik
Section: Tweaks
Version: 0.0.1-21
Installed-Size: 85
