Package: com.atwiiks.musictable
Name: musictable
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: atwiiks
Author: atwiiks
Section: Tweaks
