Package: com.creatix.quickclear
Name: QuickClear
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Creatix & SUPERGIU
Author: Creatix & SUPERGIU
Section: Tweaks
