Package: com.atwiiks.siriblue
Name: SiriBlue
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Activate Siri With Bluetooth!
Maintainer: Andrew Wiik
Author: Andrew Wiik
Section: Tweaks
