Package: dfgdf.fdgdfg.fgdfg
Name: g
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: dfgdfg
Author: dfgdfg
Section: Tweaks
